@import 'tailwindcss';
@import 'tw-animate-css';

@import '@uiw/react-md-editor/markdown-editor.css';
@import '@uiw/react-markdown-preview/markdown.css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --bgh: 240;
  --bgs: 8%;
  --bgl: 9%;
  --bghs: var(--bgh), var(--bgs);
  --cm: 1;
  --tsm: 1;
  --widget-gap: 23px;
  --widget-content-vertical-padding: 15px;
  --widget-content-horizontal-padding: 17px;
  --widget-content-padding: var(--widget-content-vertical-padding)
    var(--widget-content-horizontal-padding);
  --content-bounds-padding: 15px;
  --border-radius: 5px;
  --mobile-navigation-height: 50px;
  --color-primary: hsl(24, 97%, 58%);
  --color-positive: var(--color-primary);
  --color-negative: hsl(0, 70%, 70%);
  --color-background: hsl(50, 1%, 6%);
  --color-widget-background-hsl-values: var(--bghs), calc(var(--bgl) + 1%);
  --color-widget-background: hsl(50, 1%, 7%);
  --color-separator: hsl(
    var(--bghs),
    calc(var(--scheme) ((var(--scheme) var(--bgl)) + 4% * var(--cm)))
  );
  --color-widget-content-border: hsl(50, 1%, 10%);
  --color-widget-background-highlight: hsl(
    var(--bghs),
    calc(var(--scheme) (var(--scheme) var(--bgl) + 4%))
  );
  --color-popover-background: hsl(
    var(--bgh),
    calc(var(--bgs) + 3%),
    calc(var(--bgl) + 3%)
  );
  --color-popover-border: hsl(
    var(--bghs),
    calc(var(--scheme) (var(--scheme) var(--bgl) + 12%))
  );
  --color-progress-border: hsl(
    var(--bghs),
    calc(var(--scheme) ((var(--scheme) var(--bgl)) + 10% * var(--cm)))
  );
  --color-progress-value: hsl(
    var(--bgh),
    calc(var(--bgs) * var(--tsm)),
    calc(var(--scheme) ((var(--scheme) var(--bgl)) + 26% * var(--cm)))
  );
  --color-vertical-progress-value: hsl(
    var(--bgh),
    calc(var(--bgs) * var(--tsm)),
    calc(var(--scheme) ((var(--scheme) var(--bgl)) + 28% * var(--cm)))
  );
  --color-graph-gridlines: hsl(
    var(--bghs),
    calc(var(--scheme) ((var(--scheme) var(--bgl)) + 6% * var(--cm)))
  );
  --ths: var(--bgh), calc(var(--bgs) * var(--tsm));
  --color-highlight: hsl(50, 1%, 85%);
  --color-paragraph: hsl(var(--ths), calc(var(--scheme) var(--cm) * 73%));
  --color-base: hsl(var(--ths), calc(var(--scheme) var(--cm) * 58%));
  --color-base-muted: hsl(var(--ths), calc(var(--scheme) var(--cm) * 52%));
  --color-subdue: hsl(var(--ths), calc(var(--scheme) var(--cm) * 35%));
  --font-size-h1: 1.7rem;
  --font-size-h2: 1.6rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.4rem;
  --font-size-base: 1.3rem;
  --font-size-h5: 1.2rem;
  --font-size-h6: 1.1rem;
}

@theme inline {
  --color-orange-accent: hsl(24, 97%, 58%);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --orange-accent: hsl(24, 97%, 58%);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --orange-accent: hsl(24, 97%, 58%);
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.19 0 0 );
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
